/*
 Copyright 2007 Don HO <don.h@free.fr>

 This file is part of Notepad++ demo plugin.

 Notepad++ demo plugin is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 GUP is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License for more details.

 You should have received a copy of the GNU Lesser General Public License
 along with GUP.  If not, see <http://www.gnu.org/licenses/>.
*/

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,4,7,7
PRODUCTVERSION 0,4,7,7
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "CompanyName", "Pattazl, Lark Stuio\0"
      VALUE "FileDescription", "LocationNavigate for code/text view and edit\0"
      VALUE "FileVersion", "0, 4, 7, 7\0"
      VALUE "InternalName", "LocationNavigate\0"
      VALUE "LegalCopyright", "Copyleft (C) 2011-2012\0"
      VALUE "OriginalFilename", "LocationNavigate\0"
      VALUE "ProductName", "LocationNavigate\0"
      VALUE "ProductVersion", "0, 4, 7, 7\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 0x04B0
  END
END

